.contenedor{
    width: 80%;
    border: 3px solid red;
}
img{
    width: 500px;
    height: 340px;
}
.contenedor img{
    width: 100%;
    object-fit: cover; /*Ajusta la img al espacio de contenido*/
}